# name: Deploy Docusaurus to GitHub Pages

# on:
#   push:
#     branches:
#       - main # Set a branch to deploy from

# jobs:
#   deploy:
#     name: Deploy
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3

#       - uses: actions/setup-node@v3
#         with:
#           node-version: 18
#           cache: npm

#       - name: Install dependencies
#         run: npm install --prefix ./frontend

#       - name: Build Docusaurus website
#         run: npm run build --prefix ./frontend

#       - name: Deploy to GitHub Pages
#         uses: peaceiris/actions-gh-pages@v3
#         with:
#           github_token: ${{ secrets.GITHUB_TOKEN }}
#           publish_dir: ./frontend/build
